{:kotoba.package/name "kotoba-lang/hash"
 :kotoba.package/version "0.1.0-dev"
 :kotoba.package/kind :library
 :kotoba.package/exports [kotoba.hash.sha1]
 :kotoba.package/capabilities []
 :kotoba.package/dependencies []
 :kotoba.package/publication :development-unlocked}
